nav{
    top: 0;
    left: 0;
    padding: 10px 20px;
    position:sticky;
    z-index: 100;
    background-color: white;
    height: 80px;
    box-shadow: 1px 4px 0px rgb(231, 229, 229);
}
nav .navbar{
    display: flex;
    justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.navbar .left{
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}
.left svg{
    fill: black;

}
.menu svg{
    display: none;
}
.left .logo svg{
    fill: white;
    border-radius:6px ;
    background-color: red;
    width: 40px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}

/* middle of nav */
 nav .nav-middle{
width: 40%;
display: flex;
align-items: center;
border: 2px solid grey;
border-radius: 12px;
padding-right: 1px;
}
.nav-middle input{
    width: 80%;
    border: none;
    margin-right: auto;
    height: 40px;
    margin-left: 2px;
    padding: 3px;
    padding-left: 9px;
    font-size: 15px;
    outline: none;
    border-radius: inherit;
}
.nav-middle svg{
    fill: black;
    cursor: pointer;
    width: 40px;
    height: 30px;
}

@media (max-width:678px) {
     nav .nav-middle input{
        width: 80%;
    }
    nav{
        position: sticky;
        height: 10
        90vh;
    }
    nav .nav-middle{
        right: 0;
        border: 1px solid black;
        max-width: 400px;
        width: 100%;
        margin-left: 12px;
    }
    nav .nav-middle svg{
        transform: scale(.8);
    }
    
    .menu svg{
        display: block;
    }
    .logo p{
        display: none;
    }
    .menu{
        margin-top: -24px;
        margin-right: 12px;
        transform: scale(1.2);
        cursor: pointer;
        display: flex;
       flex-direction: column-reverse;
       position: relative;
    }
    .menu .back{
        margin-left: -19px;
        transform: scale(.9);
        fill: rgb(37, 37, 37);
    }

}

