.search-results{

margin-left: 10px;
margin-right: 30px;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
grid-column-gap: 30px;


}

.search-results .search-result{
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-result img{

    object-fit: contain;
    border-radius:8px;
}
.search-result .vid-details{
    display: flex;
    margin-top: 23px;
    transform: scale(.8);
}
.search-result .vid-details .right h3{
    font-size: 12px;
    font-weight: 200;
    text-transform: capitalize;
    margin-left: 15px;
    margin-top: 5px;
    width: 100px;
}
.search-result .vid-details img{
margin-top: 5px;
margin-right: auto;
}
.search-result .vid-details .right p{
    font-size: 13px;
    font-weight: 300;
    margin-left: auto;
}