.menu{
    padding: 40px;
    padding-left: 0;
    padding-right:0 ;
    padding-bottom: 5px;
    color: #faf5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    position: relative;      
}
.menu::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
}
.menu button{
    background-color: white;
    color: purple;
    cursor: pointer;
    padding: 4px 9px;
    outline: none;
    font-size: 21px;
    border: 2px solid purple;
    margin-bottom: -26px;
    border-bottom: 2px solid white;
}

.menu .categories{
    display: flex;
    gap: 30px;
    overflow-x:scroll ;
    background-color: purple;
    width: 100vw;
}
.category-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid white;
    transform: scale(.8);
    padding-bottom: 12px;
    font-weight: 700;
    border-radius: 12px;
    transition: .5s;
}
.category-item:hover{
    background-color: white;
    color: purple;
}
.category-item img{
    cursor: pointer;
    transform: scale(.8);
}

