.sidebar{
    position:fixed;
    left: 0;
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: white;
    padding: 13px;
    padding-left: 20px;
}
.sidebar .subscriptions img{
    width: 50px;

}
.subscriptions h1{
    font-size: 13px;
    margin-top: 12px;
    color: gray;
    margin-bottom: 12px;
}
.subscriptions h3{
    font-size: 12px;
}
.side-links svg{
    fill: rgb(51, 50, 50);
    width: 24px;
    height: 24px;
}
.side-links {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
}

.side-link{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;
    margin-bottom: 12px;
   cursor: pointer;
}

.side-link.active p{
border-bottom: 2px solid red;
}
.side-link.active svg{
    fill: red;
}